.content-card {
  width: 100%;
  position: relative;
  height: 400px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }

  .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;

  }

  &:hover {
    img {
      transform: scale(1.04);
    }
  }
}