.custom-btn {
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid black;
  transition: 0.4s;

  &:hover {
    background-color: white;
    color: black;
  }

  &.google-sign-btn {
    background-color: #4285f4;
    color: white;
    border: none;

    &:hover {
      background-color: #357ae8;
    }
  }

  &.inverted {
    filter: invert(1);
  }
}