.item-card {
  width: 290px;
  position: relative;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: 0.3s;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    position: absolute;
    bottom: 20%;
    right: 50%;
    transform: translateX(50%);
    border: none;
    opacity: 0.7;
    display: none;
    transition: 0.3s;

  }

  &:hover {
    .button {
      display: block;
    }

    img {
      opacity: 0.9;
    }
  }
}