div {
  position: relative;

  .cart-item-number {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    color: white;
    transform: translate(-42%, -82%);
    font-size: 14px;
    line-height: 14px;
    border-radius: 50%;
    padding: 1px 3px;
    font-weight: bold;
  }
}