.directory-menu {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 20px;

  div {

    &:nth-child(2) {
      grid-column: 2/4;
    }

    &:nth-child(4) {
      grid-column: 1/3;
    }

    &:nth-child(5) {
      grid-column: 3/5;
    }
  }

}