.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  .options {
    display: flex;
    align-items: center;

    a {
      padding: 10px 20px;

      &:last-child {
        padding: 0;
      }
    }
  }
}