.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name,
  .qty,
  .price {
    width: 23%;
  }

  .qty {
    padding-left: 20px;

    .inc-dec {
      padding: 0 5px;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}